

// =========== variables ===========
$colorGrey: #CCC;



/* mobile first */

// =========== header ===============
.header {
    margin-bottom: 30px;
}

.card-wrapper_show {
    display: block;

    width: 320px;
    height: 828px;
}

.card-wrapper_hidden {
    display: none;
}

// ========== cards in main ==================

.card-wrapper__image {
    margin-bottom: 20px;
    
    width: 280px;
    height: 171px;
}

// ========== footer =============

.footer {
    margin-top: 118px;
    min-height: 56px;
}

.footer__line {
    margin: 0 auto;

    width: 280px;

    border-bottom: 1px solid $colorGrey;
}

.footer__span-style {
    font: {
        family: Roboto Condensed;
        style: normal;
        weight: normal;
        size: 14px;
    }
   

    line-height: 16px;

    text-transform: uppercase;
    
    color: $colorGrey;

    margin-top: 12px;

    }
    
    /* mobile first */


/* desctop */

@media  screen and (min-width: 768px) {

    .card-wrapper_show {
        width: 768px;
        height: 828px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin: 30px 20px 377px 20px;

      
    }

    .card-wrapper__image {
        width: 229px;
        height: 142px;
        
        margin-left: 20px;
    }

    .footer__line {
        margin: 0 auto;
    
        width: 728px;
    
        border-bottom: 1px solid $colorGrey;
    }
}
