/* mobile first */
.card-modal_block_show {
  width: 320px;
  height: 537px;
  display: block;
  position: absolute;
  top: 0%;
  background-color: white;
}

.modal-image {
  position: relative;
}

.modal-image__img {
  width: 100%;
}

.modal-image__lines-wrapper {
  position: absolute;
  width: auto;
  height: auto;
  top: 5%;
  right: 7%;
}

.modal-image__line-1 {
  width: 25.46px;
  height: 0px;
  border: 1px solid #000000;
  transform: rotate(-45deg);
}

.modal-image__line-2 {
  width: 25.46px;
  height: 0px;
  border: 1px solid #000000;
  transform: rotate(45deg);
}

.modal-comments {
  width: 184px;
  min-height: 90px;
  margin: 25px 114px 40px 22px;
}

.modal-comments__list {
  list-style: none;
  padding: 0;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  text-align: justify;
  margin-bottom: 20px;
  word-break: break-all;
}
.modal-comments__list::before {
  content: "X";
  display: flex;
  justify-content: end;
  padding-right: 28px;
  cursor: pointer;
}

.modal-comments__list > li:first-child {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #999999;
  margin-bottom: 5px;
}

.form {
  width: 276px;
  height: 129px;
  margin: 0 auto;
  margin-top: 40px;
}

.form-wrapper__input {
  width: 100%;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form-wrapper__button {
  width: 100%;
  height: 30px;
  background: #4997D0;
  border-radius: 3px;
  color: white;
}

/* mobile first */
/* desctop */
@media screen and (min-width: 768px) {
  .card-modal_block_show {
    width: 100%;
    height: 828px;
    background: rgba(0, 0, 0, 0.7);
  }

  .dialog-wrapper {
    width: 619px;
    min-height: 425px;
    background: white;
    margin: 0 auto;
    margin-top: 181px;
    position: relative;
  }

  .dialog-wrapper__modal {
    display: flex;
    justify-content: center;
  }

  .modal-image {
    width: 332px;
    height: 205px;
    margin: 30px 14px 30px 30px;
  }

  .modal-image__img {
    width: 332px;
  }

  .modal-image__lines-wrapper {
    position: absolute;
    top: -5%;
    left: 162%;
  }

  .modal-comments {
    width: 184px;
    min-height: 100px;
    word-break: break-all;
  }

  .modal-comments__list::before {
    content: "X";
    display: flex;
    justify-content: end;
    padding-right: 28px;
    cursor: pointer;
  }

  .form {
    width: 332px;
    margin: 0;
    margin-bottom: 32px;
    margin-left: 30px;
  }
}

/*# sourceMappingURL=CardModal.css.map */
